/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"); */

:root {
  --accentOrange: #da9f49;
  --darkAmber: rgb(49, 49, 49);
  --darkGray: rgb(102, 102, 102);
  --lightGray: rgb(182, 182, 182);
  --bannerGray: rgb(141, 141, 141);
  --white: #faf8f4;
  --linkBlue: rgb(0, 100, 200);
  --visitedLink: rgb(0, 80, 160);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 200;
  font-size: clamp(2rem, 3vw, 5rem);
}

a {
  color: var(--linkBlue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--visitedLink);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: var(--white);
  background-color: var(--darkAmber);
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button.active-flash:after {
  content: "";
  background-color: var(--lightGray);
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

button.active-flash:not(:disabled):active:after {
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  opacity: 1;
  transition: 0s;
}

button:disabled {
  color: var(--darkGray);
  background-color: var(--lightGray);
}

button:focus {
  border-color: var(--accentOrange);
}
